@media (max-width: 1024px) {
    .star {
      font-size: 1rem;
    }
  
    .quote {
      font-size: 2rem;
    }
  }
  
  @media (max-width: 600px) {
    .details h1 {
      font-size: 1rem;
    }
  
    .details p {
      font-size: 0.8rem;
    }
  
    Body {
      font-size: 0.9rem;
    }
  }
  